@import url('https://fonts.googleapis.com/css?family=Inconsolata|Nunito');

.actionbtn {
	display: none;
}

#log {
	list-style-type: none;
	padding: 0;
	margin: 0;
	z-index: -1;
}

#log__fader {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-image: linear-gradient(top, transparent, white);
	background-image: -webkit-linear-gradient(top, transparent, white);
	background-image: -moz-linear-gradient(top, transparent, white);
	background-image: -ms-linear-gradient(top, transparent, white);
	background-image: -o-linear-gradient(top, transparent, white);
}

.padder {
	padding: 10px;
}

.box {
	position: relative;
	display: inline-block;
	height: 100px;
	width: 100px;
	text-align: center;
	border: 1px solid #999;
	margin: 5px;
	overflow: hidden;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: top;
}

hr {
	height: 1px;
	background-color: #ccc;
	border: 0;
}

.info {
	position: absolute;
	padding: 5px 10px;
	width: 150px;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-shadow: 0px 2px 4px #eee;
	margin-left: -105px;
	margin-top: 110px;
	background-color: #fefde7;
	display: none;
	z-index: 2;
}

.box:hover + .info {
	display: inline-block;
}

#battletab,
#loretab {
	display: none;
}

* {
	box-sizing: border-box;
}

body, button {
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
}

body {
	font-size: 16px;
	margin: 0;
	height: 100vh;
}

.sidecol,
.leftcol {
	padding: 10px;
	overflow: hidden;
}

.container {
	height: 100%;
	margin: 0 10px;
}

.sidecol {
	text-align: right;
	position: relative;
	height: 100%;
	width: 15%;
	float: left;
}

.maincol {
	height: 100%;
	width: 85%;
	float: right;
}

button {
	border: 1px solid #999;
	background: white;
	padding: 5px 10px;
	cursor: pointer;
	margin-bottom: 5px;
}

button:hover {
	background-color: #f4f4f4;
}

button:disabled {
	cursor: default;
	background-color: #eee;
}

#tabmenu {
	border-bottom: 1px solid #ccc;
	cursor: default;
	text-align: center;
	padding: 0;
	display: table;
	table-layout: fixed;
	width: 100%;
}

#tabmenu li {
	display: table-cell;
}

#tabmenu li a {
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px 4px 0 0;
	border-bottom: 0;
	padding: 5px 15px;
}

#tabmenu li:not(:last-child) a {
	margin-right: 4px;
}

#tabmenu li a:hover {
	background-color: #f4f4f4;
}

.active {
	background-color: #ddd!important;
}

#mine {
	display: block;
	height: 250px;
	width: 250px;
	cursor: default;
	list-style-type: none;
	padding: 10px;
	font-size: 0;
	text-align: center;
	background: #eee;
}

#mine li {
	background-color: white;
	font-size: 16px;
	text-align: center;
	margin: 3px;
	padding: 0;
	display: inline-block;
	height: 70px;
	width: 70px;
	background-color: white;
	border: 1px solid #999;
	overflow: hidden;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: top;
}

.delmark {
	position: absolute;
	top: 0;
	right: 5px;
	user-select: none;
	cursor: pointer;
}

.delmark:hover {
	color: red;
}

.bar {
	margin: 5px 0;
	width: 250px;
}

.inner {
	color: white;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.2);
	width: 100%;
	min-height: 8px;
	overflow: hidden;
}

#healthBar {
	background-color: #ff8080;
}

#thirstBar {
	background-color: #80bfff;
}

#energyBar {
	background-color: #ffdf80;
}

#myProgress {
	margin: 5px 0;
	width: 250px;
	background-color: #eee;
}

#myBar {
	width: 100%;
	height: 8px;
	background-color: #aaa;
}

.left {
	width: 50%;
	float: left;
}

.right {
	width: 50%;
	float: right;
}

.collect {
	cursor: pointer;
}

@media screen and (max-width: 1000px) {
	.maincol, .sidecol {
		width: 100%;
		height: auto;
	}
	.sidecol {
		height: auto;
	}
	.cartleft, .cartright {
		width: 100%;
		padding-bottom: 20px;
	}
}

.upper {
	height: 50%;
	overflow: auto;
}

.lower {
	padding-top: 5px;
	height: 50%;
	overflow: auto;
}