#inventory {
	display: none;
}

#barracks {
	display: none;
}

#market {
	display: none;
}

#knightCover {
	display: none;
}

body {
	margin: 0;
	background-color: #eee;
	font-family: sans-serif;
	overflow-y: scroll;
}

#cover {
	background-color: white;
	width: 350px;
	margin: 0 auto;
	text-align: center;
	min-height: 100vh;
	height: 100%;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

@media screen and (max-width: 1000px) {
	#cover {
		width: 100%;
	}
}

#inc {
	font-size: 40px;
}

section {
	margin: 10px;
	padding: 10px;
	background-color: white;
	border: 1px solid #ddd;
}

#tabmenu {
	padding: 0;
}

#tabmenu li {
	display: inline-block;
	list-style-type: none;
	padding: 0 10px 0 5px;
}

#tabmenu li:not(:last-of-type) {
	border-right: 1px solid #999;
}

a {
	color: cornflowerblue;
	cursor: pointer;
}

#log {
	margin: 5px;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: column-reverse;
	list-style-type: none;
}

#log li:nth-last-child(n+10) {
	display: none;
}

.button, .sb {
	background-color: white;
	border: 1px solid #666;
	color: black;
	padding: 5px 10px;
	margin: 10px;
	font-size: 1em;
}

.sb {
	padding: 2px 5px;
	font-size: 0.9em;
	margin: 0;
}

.margin {
	padding: 10px;
}

#logo {
	display: block;
	margin: 0 auto;
	width: 150px;
	height: 150px;
	background-size: cover;
	opacity: 0.8;
	padding-top: 10px;
	pointer-events: none;
}

h1, h3 {
	margin: 0;
	padding: 10px;
	font-family: "Tahoma", sans-serif;
	color: #444;
}

h3 {
	padding: 0;
}

#footer {
	position: absolute;
	bottom: 10px;
	display: block;
	width: 100%;
}

.grey {
	color: #aaa;
	font-size: 12px;
}

#list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#list li {
	font-weight: bold;
	display: inline-block;
	padding: 5px;
	border: 1px solid #ddd;
	margin: 2px;
}

.broken {
	color: gray;
	font-weight: normal;
}

.common {
	color: limegreen;
	font-weight: bold;
}

.uncommon {
	color: turquoise;
	font-weight: bold;
}

.scarce {
	color: dodgerblue;
	font-weight: bold;
}

.rare {
	color: coral;
	font-weight: bold;
}

.legendary {
	color: orchid;
	font-weight: bold;
	font-style: italic;
}

.godly {
	color: gold;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}