* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	margin: 0;
	height: 100vh;
}

body, button {
	font-family: monospace;
}

.row {
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}

.col {
	display: table-cell;
	vertical-align: top;
}

.wrapper {
	min-height: 100%;
	background-color: #5DD39E;
}

.container {
	background-color: white;
	height: 100%;
	width: 95%;
	margin: 0 auto;
}






.row .col {
	padding: 2rem;
}

.map {
	font-size: 0;
	display: inline-block;
	width: calc(16rem + 3px);
	border: 1px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}

.map .tile {
	position: relative;
	font-size: 1.6rem;
	display: inline-block;
	height: 4rem;
	width: 4rem;
	transform: rotate(90deg);
}

.map .tile .inner {
	display: inline-block;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 250%;
	text-align: center;
	cursor: default;
}

.map .tile .inner.pointer {
	cursor: pointer;
}

.data {
	background-color: #eee;
	color: #999;
	border: 1px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	height: 12rem;
	overflow-y: hidden;
	overflow-x: hidden;
	white-space: nowrap;
}

.subtitle {
	font-size: 0.8em;
	opacity: 0.75;
}

.btn {
	margin: 1rem 0;
	background-color: #eee;
	border: 2px outset #999;
	cursor: pointer;
}

.btn:active {
	background-color: #ddd;
	border: 2px inset #999;
}

.btn:focus {
	outline: none;
}


.header {
	margin: 3rem 0;
	text-align: center;
}

.big-text {
	font-size: 4em;
	vertical-align: middle;
	opacity: 0.5;
}

.map_cover {
	display: inline-block;
}

.cards {
	display: none;
	position: absolute;
	z-index: 999;
}

.card {
	padding: 1rem;
	background-color: white;
	border: 1px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}

.left {
	float: left;
	padding: 1rem;
	width: 50%;
}

.right {
	float: right;
	padding-right: 1rem;
	width: 50%;
}

.data-buyers {
	font-size: 0.8em;
}

.buyer {
	position: relative;
	display: block;
	margin-bottom: 1rem;
	border: 1px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	overflow: hidden;
}

.buyer:after,
.card:after,
.upgrade:after {
	content: "";
	display: block;
	clear: both;
}

.buyer .company {
	font-weight: bold;
}

.buyer .tagline1,
.buyer .tagline2 {
	opacity: 0.75;
	font-style: italic;
}

.quote {
	padding: 2rem;
	margin-top: -2rem;
	background-color: #348AA7;
	color: #eee;
	text-align: center;
}

.btn.big-btn {
	position: relative;
	height: 4rem;
	padding: 0 2rem;
	color: transparent;
}

.progress-bar {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.progress-bar .inside {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.1);
	transition: 300ms linear;
}

.btn .btn-text {
	color: black;
	width: 100%;
	height: 100%;
	line-height: 3.7rem;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

.btn:disabled {
	cursor: default;
	pointer-events: none;
	opacity: 0.75;
}

.table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	border: 1px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}

.table tr td {
	padding: 0.5rem;
}

.table tr td:not(:first-of-type) {
	text-align: center;
}

.log {
	list-style-type: none;
	margin: 0;
	padding: 1rem;
	border: 1px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	font-size: 0.8em;
	height: 12rem;
	overflow: hidden;
}

.log li {
	position: relative;
	margin: 0.5rem;
	width: 100%;
}

.log li .new {
	display: inline;
}

.log li .face {
	display: inline-block;
	height: 3rem;
	width: 3rem;
	line-height: 3rem;
	text-align: center;
	border-radius: 50%;
	transform: rotate(90deg);
	margin-right: 1rem;
	vertical-align: middle;
}

.disabled {
	background-color: #eee;
	opacity: 0.5;
	pointer-events: none;
}

.disabled .btn {
	background-color: #ccc;
}

.upgrade {
	margin: 1rem 0;
	padding: 1rem;
	border: 1px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	display: none; /* XD */
}

.upgrade .left,
.upgrade .right {
	padding: 0;
	width: auto;
}

.upgrade .left {
	width: 55%;
}

.upgrade .btn {
	padding: 1rem 2rem;
}

.beh-cover {
	height: calc(40rem + 3px);
	border: 1px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}

.choices {
	font-size: 0.8em;
	width: calc(100% - 6rem);
	float: right;
}

.choices .choice {
	position: relative;
	height: 4rem;
	line-height: 4rem;
	padding-left: 1rem;
}

.choices .choice:nth-of-type(2n) {
	background-color: #eee;
}

.choices .choice:after {
	content: "";
	display: block;
	position: absolute;
	left: -6rem;
	bottom: 0;
	width: 6rem;
	height: 100%;
	background: #eee;
}

.choices .choice:nth-of-type(2n):after {
	background-color: #ccc;
}

.beh-cover .slider {
	position: relative;
	background-color: #ddd;
	padding: 0 1rem;
	height: 100%;
	float: left;
}

.drag {
	height: 4rem;
	width: 4rem;
	line-height: 4rem;
	text-align: center;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
	z-index: 99;
	background-color: #76bdd5;
	border: 2px solid #348aa7;
	color: #348aa7;
}

.drag .smiley {
	display: inline-block;
	font-size: 1.5em;
	position: relative;
	left: 45%;
	transform: rotate(90deg);
}

.choices .choice.hovered:after {
	box-shadow: inset -4px 0 0 rgba(0,0,0,0.3);
}

.drag:active {
	transform: scale(1.1);
}

.beh-above {
	margin-bottom: -1px;
}

.beh-above .left {
	width: 6rem;
}

.beh-above .right {
	font-size: 0.8em;
	font-weight: bold;
	width: calc(100% - 6rem);
	background-color: #ddd;
	border: 1px solid black;
	border-right: 2px solid black;
	padding: 1rem;
}

.trendbox {
	padding: 1rem;
	border: 1px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	background-color: #76bdd5;
}

.drag.boost {
	background-color: #BCE784;
	border: 2px solid #6faa22;
	color: #6faa22;
}

.btn.lrg {
	height: 4rem;
	padding: 0 2rem;
}

.trend-btn {
	position: relative;
}

.top-quote,
.header {
	margin-top: 0;
}

.top-quote {
	padding-top: 2rem;
}

.main-row > .col:nth-of-type(1),
.main-row > .col:nth-of-type(2),
.main-row > .col:nth-of-type(3) {
	opacity: 0;
	pointer-events: none;
	transition: 1s ease;
}

.money-bar,
.end-screen {
	display: none;
}

.money-bar,
.end-screen {
	text-align: center;
}

.end-screen {
	width: 80%;
	margin: 0 auto;
	padding: 1rem;
	background-color: #BCE784;
	border: 1px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}

a.link {
	color: blue;
}


















.bop {
	animation: bop 300ms ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes bop {
	0% {
		transform: rotate(20deg);
	}
	75% {
		transform: rotate(-10deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.appear {
	animation: appear 300ms ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes appear {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.disappear {
	animation: disappear 300ms ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes disappear {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0);
		opacity: 0;
	}
}



.envy { background-color: #525174; }
.joy { background-color: #BCE784; }
.anger { background-color: #513B56; }
.pity { background-color: #348AA7; }
.bore { background-color: #76bdd5; }
.laugh { background-color: #5DD39E; }