*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	height: 100vh;
	color: white;
	overflow: hidden;
}

.row {
	display: table;
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
}

.col {
	position: relative;
	display: table-cell;
	vertical-align: top;
}

.container {
	width: 80%;
	margin: 0 auto;
}

#topright {
	position: absolute;
	top: 0;
	right: 0;
	margin: 1em;
}