@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Roboto+Slab|Slabo+27px');

body, button {
	font-family: 'Roboto Slab', sans-serif;
	font-size: 14px;
}

.rightcol button {
	margin: 3px;
	margin-bottom: 6px;
	display: block;
	width: 100%;
}

.box {
	background-color: white;
	position: relative;
	display: inline-block;
	height: 90px;
	width: 90px;
	text-align: center;
	border: 1px solid #ccc;
	margin: 5px;
	overflow: hidden;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: top;

	background-size: cover;
	background-position: center;

	font-weight: bold;
	text-shadow:
	-1px -1px 0 #fff,
	1px -1px 0 #fff,
	-1px 1px 0 #fff,
	1px 1px 0 #fff;

	box-shadow: 0px 2px 6px rgba(0,0,0,0.05);
}

.box-sm {
	height: 80px;
	width: 80px;
}

.box-sm + .info {
	margin-left: -85px;
	margin-top: 90px;
}

hr {
	height: 1px;
	background-color: #ccc;
	border: 0;
	margin: 10px 30px;
}

.info {
	background-image: none!important;
	position: absolute;
	padding: 5px 10px;
	width: 150px;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	margin-left: -95px;
	margin-top: 100px;
	background-color: #fefde7;
	display: none;
	z-index: 2;
	text-align: left;
}

.box:hover + .info {
	display: inline-block;
}

.collect + .info {
	margin: 0;
	margin-top: 72px;
	margin-left: -73px;
	width: 70px;
	text-align: center;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	border-radius: 0;
}

.collect:hover + .info {
	display: inline-block;
}

#battletab,
#loretab,
.disc_tab {
	display: none;
}

* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	margin: 0;
	height: 100vh;
}

button {
	border: 1px solid #bbb;
	border-radius: 2px;
	border-bottom: 3px solid #bbb;
	background: white;
	padding: 5px 10px;
	cursor: pointer;
	margin-bottom: 5px;
}

button:hover {
	background-color: #f4f4f4;
}

button:disabled {
	cursor: default;
	background-color: #eee;
}

#mine {
	margin: 0 auto;
	display: block;
	height: 250px;
	width: 250px;
	cursor: default;
	list-style-type: none;
	padding: 10px;
	font-size: 0;
	text-align: center;
	background-color: #eee;
}

#mine li {
	background-color: white;
	font-size: 14px;
	text-align: center;
	margin: 3px;
	padding: 0;
	display: inline-block;
	height: 70px;
	width: 70px;
	background-color: white;
	border: 1px solid #ccc;
	overflow: hidden;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: top;
	background-size: cover;
	font-weight: bold;
	text-shadow:
	-1px -1px 0 #fff,
	1px -1px 0 #fff,
	-1px 1px 0 #fff,
	1px 1px 0 #fff;
}

.delmark {
	position: absolute;
	top: 0;
	right: 5px;
	user-select: none;
	cursor: pointer;
}

.delmark:hover {
	color: red;
}

.exit {
	font-size: 1.5em;
	margin: 0 5px;
}

.bar {
	text-align: center;
	margin: 5px 0;
	width: 100%;
}

.inner {
	color: white;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.2);
	width: 100%;
	min-height: 8px;
	white-space: nowrap;
	overflow: hidden;
}

#healthBar {
	background-color: #ff8080;
}

#thirstBar {
	background-color: #80bfff;
}

#energyBar {
	background-color: #ffdf80;
}

#myProgress {
	margin: 5px auto;
	width: 250px;
	background-color: #eee;
}

#myBar {
	width: 100%;
	height: 8px;
	background-color: #aaa;
}

.collect {
	cursor: pointer;
}





/* more */

.tabmenu__cover {
	/* nothing */
}

#name {
	width: 20%;
}

#tabmenu {
	cursor: default;
	text-align: center;
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 45px;
	line-height: 45px;
	margin: 0;
	padding: 0;
}

#tabmenu li {
	display: table-cell;
}

#tabmenu li a {
	display: block;
	background-color: #6bc76b;
	color: white;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	border-bottom: 5px solid #46b946;
	cursor: pointer;
}

#tabmenu li:hover a {
	background-color: #7ece7e;
}

#tabmenu li a.active,
#tabmenu li a:active {
	background-color: #59c059;
}

.topbox {
	height: 210px;
	overflow: auto;
}

.sidecol {
	width: 20%;
	float: left;
	height: 100%;
}

#log {
	list-style-type: none;
	padding: 15px 0 0 0;
	margin: 0;
	z-index: -1;
}

#log li {
	margin-bottom: 15px;
}

#log__cover {
	height: calc(100% - 210px);
	width: 100%;
	position: relative;
	overflow: hidden;
}

#log__fader {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-image: linear-gradient(top, transparent, #f8f8f8);
	background-image: -webkit-linear-gradient(top, transparent, #f8f8f8);
	background-image: -moz-linear-gradient(top, transparent, #f8f8f8);
	background-image: -ms-linear-gradient(top, transparent, #f8f8f8);
	background-image: -o-linear-gradient(top, transparent, #f8f8f8);
	pointer-events: none;
}

.maincol {
	height: 100%;
	width: 80%;
	float: right;
}

.left {
	height: 100%;
	width: 50%;
	float: left;
}

.right {
	height: 100%;
	width: 50%;
	float: right;
}


.container {
	height: calc(100% - 60px);
}

.tab {
	height: 100%;
}

.upper {
	height: 50%;
}

.lower {
	height: 50%;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #bbb;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #aaa;
}

.marginb {
	margin-bottom: 10px;
}

.red {
	color: #ff5050;
}

.green {
	color: #00cc00;
}

.blue {
	color: #527dff;
}

.title {
	font-weight: normal;
	margin: 0 0 10px 0;
}







body {
	position: relative;
}

.sidecol {
	width: 15%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #f8f8f8;
	border-right: 1px solid #eee;
	box-shadow: 0 0 16px rgba(0,0,0,0.15);
	height: 100%;
}

.rightcol {
	width: 15%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #f8f8f8;
	border-left: 1px solid #eee;
	box-shadow: 0 0 16px rgba(0,0,0,0.15);
	height: 100%;
	padding: 10px;
}

.maincol {
	margin: 0;
	padding: 0;
	width: 70%;
	margin-left: 15%;
	float: none;
}

.tabmenu__cover {
	width: 70%;
	margin-left: 15%;
}

.topbox {
	padding: 10px;
}

#log {
	padding: 10px;
}


.left, .right, .upper, .lower {
	text-align: center;
	padding: 15px;
	overflow: auto;
}

#items {
	text-align: left;
	margin-top: 10px;
}

.low_cover {
	border-top: 1px solid rgba(0,0,0,0.1);
}

.high_cover {
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.left {
	border-right: 1px solid rgba(0,0,0,0.1);
}

.btn-sm, .btn-md {
	padding: 2px 20px;
}

.btn-md {
	width: 180px;
}





.place {
	display: block;
	margin: 10px auto;
	max-width: 300px;
	padding: 10px;
	border: 1px solid #ccc;
	cursor: pointer;
}

.hidden {
	background-color: #ccc;
	opacity: 0.5;
	cursor: default;
	pointer-events: none;
}

.hidden div:not(:first-child) {
	display: none;
}

.event {
	border: 1px solid #ccc;
	padding: 10px;
	margin: 10px;
}

#enemy .inner {
	margin: 0 auto;
	transition: 300ms;
}

#enemyHealthBar {
	background-color: #e25050;
}

.event_modal {
	width: 50%;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
	background-color: white;
	box-shadow: 0px 2px 6px rgba(0,0,0,0.05);
	display: none;
	max-height: 95%;
	position: relative;
}

.battle_header {
	margin: -10px -10px 10px -10px;
	padding: 5px;
	background-color: #eee;
	border-bottom: 1px solid #ddd;
}

#e_name {
	text-transform: capitalize;
}

.grey {
	font-size: 0.9em;
	color: grey;
}

.displaybox {
	padding: 10px;
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}


/*.menu {
	cursor: default;
	text-align: center;
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
}

.menu li {
	display: table-cell;
}

.menu li a {
	display: block;
	background-color: #8cb3d9;
	color: white;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	border-bottom: 5px solid #709fcf;
	cursor: pointer;
}

.menu li:hover a {
	background-color: #9fbfdf;
}

.menu li a.menu_active,
.menu li a:active {
	background-color: #79a6d2;
}*/

.worldpage {
	padding: 15px;
}

#map {
	font-family: monospace;
	font-size: 0;
	width: 300px;
	padding: 10px;
	overflow: hidden;
	margin: 0 auto;
	background-color: #eee;
}

#map .tile {
	font-size: 14px;
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin: 3px;
	background-color: white;
	border: 1px solid #ddd;
	text-shadow:
	-1px -1px 0 #fff,
	 1px -1px 0 #fff,
	-1px  1px 0 #fff,
	 1px  1px 0 #fff;
}

#map .tile .fillbar {
	background-color: #60d288;
	margin-top: -50px;
	display: block;
	width: 0%;
	height: 100%;
	transition: 1000ms linear;
}

.id {
	display: none;
}

#theClearing__event .inner {
	transition: 150ms;
}

#items .box .no {
	position: absolute;
	top: 0;
	left: 5px;
	font-size: 0.8em;
}

.stacktoggle .stacked {
	display: none;
}

.stacked {
	width: 20px;
	font-size: 0;
	margin: 10px 5px;
	height: 80px;
	margin-left: -6px;
	opacity: 0.6;
	border-color: #aaa;
	box-shadow: none;
	box-shadow: inset 0 0 100px rgba(0,0,0,0.05);
}

.stacked .delmark {
	font-size: 16px;
	text-shadow: none;
}

#forwards {
	width: 200px;
	border-width: 1px;
	margin: 5px 0;
}

#walkProgress {
	margin: 0 auto;
	margin-bottom: 15px;
	width: 200px;
	background-color: #eee;
}

#walkBar {
	width: 100%;
	height: 8px;
	background-color: #aaa;
}


.modal_bg {
	background-color: rgba(0,0,0,0.4);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 70%;
	margin-left: 15%;
	z-index: 2;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: top;
}

.hide {
	display: none;
}

#changelog {
	display: none;
	background-color: #f4f4f4;
	border: 1px solid #ccc;
	margin: 10px 0;
	padding: 10px;
}

.topbox .inner {
	transition: 300ms linear;
}

.toggle-btn {
	padding: 2px 6px;
	border-width: 1px;
}

.large-modal {
	text-align: left;
	width: 80%;
	padding: 15px;
	overflow: auto;
}

#bait:hover + .info {
	display: inline-block;
}

#bait + .info {
	width: 200px;
	margin: 30px 0 0 -100px;
	text-align: left;
	font-size: 0.8em;
}

.edit_icon {
	cursor: pointer;
}

.edit_icon:hover {
	color: dodgerblue;
}

#reset:hover {
	background-color: #ff5050;
	border: 1px solid #ff3333;
	color: white;
}


.title-sm {
	font-weight: normal;
	margin: 0;
	float: left;
	width: 80%;
	text-align: left;
	height: 40px;
	line-height: 40px;
	border-bottom: 2px solid #ccc;
	color: #444;
	font-size: 1.3em;
}

.accordion {
	float: right;
	width: 20%;
	height: 40px;
	line-height: 40px;
	border-bottom: 2px solid #ccc;
	text-align: right;
	cursor: pointer;
	color: grey;
	transition: 300ms;
}

.accordion:hover,
.accordion.active {
	color: dodgerblue;
	border-color: dodgerblue;
}

.panel {
	clear: both;
	padding: 10px;
	background-color: #f0f0f0;
	min-height: 50px;
}

.panel button {
	border-width: 1px;
	margin: 3px 0;
}




.statstable {
	width: 80%;
	margin: 0 auto;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}

.statstable tr, .shoptable tr {
	background-color: white;
}

table, th, td {
	border-collapse: collapse;
}

.statstable td {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	white-space: nowrap;
}

.statstable tr:hover {
	background-color: #f9f9f9;
}

.table_title {
	text-align: left;
}

.table_desc {
	text-align: right;
}

table th {
	background-color: #eee;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}



.shoptable {
	border: 1px solid #ddd;
}

.shoptable td {
	padding: 5px;
	border: 1px solid #ddd;
	text-align: left;
}

.shoptable button {
	margin: 0;
	border-width: 1px;
}

.shopimg {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background-size: cover;
	border: 1px solid #ccc;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}

.shoptitle {
	font-weight: normal;
	margin: 0;
}

.shoptable td:nth-child(odd) {
	background-color: #f8f8f8;
}

.shoptable td:nth-child(even) {
	padding: 5px 10px;
}


.accBar {
	background-color: #f4f4f4;
	border: 1px solid #ddd;
	min-height: 95px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 10px;
}

.accBar .box-sm {
	cursor: pointer;
	box-shadow: none;
	border-radius: 50%;
	font-size: 0.8em;
}

#equipped {
	max-width: 350px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
	border-color: #ccc;
	border-radius: 5px;
}

#accessories {
	background-color: white;
}





#tabmenu li a.locked {
	background-color: #888;
	border-color: #666;
	color: #eee;
	opacity: 0.6;
	pointer-events: none;
}

.locked:after {
	content: " (undiscovered)";
}



.bought {
	background-color: #eee;
	pointer-events: none;
	font-size: 0;
	padding: 2px 10px;
}

.bought:after {
	font-size: 14px;
	content: "Bought";
}




body {
	background-image: url(bg5.jpg);
	background-size: cover;
	background-position: center;
}

#right_items {
	overflow-x: hidden;
}

.bh_large {
	margin: -15px -15px 10px -15px;
	padding: 10px 15px;
	font-size: 1.4em;
}

.recipieTable {
	margin: 10px 0;
	border-top: 1px solid #ccc;
}

.recipieTable td {
	padding: 10px;
}

.recipieTable td:nth-child(odd) {
	border-right: 1px solid #ccc;
}

.recipieTable .shopimg {
	width: 70px;
	height: 70px;
	margin: 0 2px;
}

#book {
	height: 95%;
}



.shopmenu {
	text-align: center;
	display: table;
	table-layout: fixed;
	width: calc(100% - 40px);
	margin: 0 20px;
	padding: 0;
}

.shopmenu li {
	display: table-cell;
}

.shopmenu li button {
	width: 100%;
	margin: 0;
	border-radius: 0;
}

.shopmenu li:not(:last-of-type) button {
	border-right: none;
}