*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 30px;
}

body {
	font-size: 1.6rem;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

body,
canvas {
	background-color: #212123;
}

#fps {
	position: absolute;
	top: 0;
	left: 0;
}