*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: monospace;
	background-color: #252525;
	color: #eee;
	font-size: 20px;
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 32px;
}

#wrapper {
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	overflow: hidden;
}

#message {
	display: none;
}

@media only screen and (max-width: 768px) {
	#message {
		display: block;
	}
	
	#game {
		display: none;
	}
}

.word {
	display: inline-block;
	height: 32px;
	width: 32px;
	background-image: url('../text.png');
	background-size: 256px;
	margin-right: -12px;
}

.m, .w {
	margin-right: -8px;
}

.c, .f, .j, .t {
	margin-right: -16px;
}

.i, .l, .r {
	margin-right: -20px;
}

.space 	{ opacity: 0; }
.a 		{ background-position: -128px 0; }
.b 		{ background-position: -160px 0; }
.c 		{ background-position: -192px 0; }
.d 		{ background-position: -224px 0; }
.e 		{ background-position: -128px -32px; }
.f 		{ background-position: -160px -32px; }
.g 		{ background-position: -192px -32px; }
.h 		{ background-position: -224px -32px; }
.i 		{ background-position: -128px -64px; }
.j 		{ background-position: -160px -64px; }
.k 		{ background-position: -192px -64px; }
.l 		{ background-position: -224px -64px; }
.m 		{ background-position: -128px -96px; }
.n 		{ background-position: -160px -96px; }
.o 		{ background-position: -192px -96px; }
.p 		{ background-position: -224px -96px; }
.q 		{ background-position: -128px -128px; }
.r 		{ background-position: -160px -128px; }
.s 		{ background-position: -192px -128px; }
.t 		{ background-position: -224px -128px; }
.u 		{ background-position: -128px -160px; }
.v 		{ background-position: -160px -160px; }
.w 		{ background-position: -192px -160px; }
.x 		{ background-position: -224px -160px; }
.y 		{ background-position: -128px -192px; }
.z 		{ background-position: -160px -192px; }
.em 	{ background-position: -192px -192px; }
.qm 	{ background-position: -224px -192px; }